@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap');

body {
    margin: 0 !important;
}

.sectionOne {
  margin-top: 100px;
}

.section-hide {
  display: none;
}

/*MENÚ & SUBMENÚ*/

.submenu-name, .submenu-tipo, .submenu-debilidad {
  width: 100%;
  display: none;
  background: #7f8fa6;
}

.submenu-label-name, .submenu-label-tipo, .submenu-label-debilidad {
  padding: 0 20px;
}

.submenu-label-name:hover + .submenu-name, .submenu-label-tipo:hover + .submenu-tipo, .submenu-label-debilidad:hover + .submenu-debilidad  {
  display: flex;
  flex-wrap: wrap;
    padding: 0;
}

.submenu-name:hover, .submenu-tipo:hover, .submenu-debilidad:hover {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.submenu-name li, .submenu-tipo li, .submenu-debilidad li {
  width: 100%;
}

/*Card Pokemon*/

    #seccion-card {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 14%;
    }
    
    .card {
        width: 45%;
        text-align: center;
        border-radius: 15px;
        color: orange;
        font-weight: bolder;
        background: #c8d6e5;
        margin-bottom: 2.5%;
        justify-content: space-between;
    }
    
    h2 {
        color: #273c75;
        font-size: 1em;
    }

    h3 {
        color: orange;
        font-weight: bolder;
        font-size: x-large;
    }

    .buttonStyle {
        margin-block-end: 8%;
        /* margin-top: 5%; */
        width: 45%;
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        padding: .375rem .75rem;
        border-radius: .25rem;
        background-color: #e84118;
        color: #fff;
        transition: background-color .15s ease-in-out;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .verPokemon {
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    
      /*NAV BAR */

      .navbar {
        background-color:#e84118;
        color: #fff;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        padding: 0 30px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .navbar a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        text-align: justify;
        letter-spacing: 0.5px;
        display: flex;
        align-items: center;
      }
      .navbar a.navbar-brand {
        float: left;
        height: inherit;
        line-height: inherit;
        padding: 0 30px;
      }
      .navbar ul {
        float: right;
        list-style: none;
        height: inherit;
        line-height: inherit;
        padding: 0 60px;
      }
      .navbar ul li {
        display: inline-block;
      }
      .navbar ul li a {
        display: block;
        text-align: center;
        text-anchor: middle;
        max-width: 400px;
        /* padding: 0 30px;*/
      }
      .navbar ul li a:hover {
        background-color: rgba(255,255,255,0.15);
      }
      .navbar .navbar-toggler {
        display: none;
      }
      
      @media only screen and (min-width: 767px)  {
      
        h2 {
            font-size: 1.5em;
        }
        .container {
          width: 100%;
        }
        .card {
          width: 32%;
        }
      }
    
      @media (max-width: 991px) {
        .navbar ul {
          padding: 0 10px;
        }
        .navbar ul li a {
          min-width: 100px;
          padding: 0 20px;
        }
      }
      
      @media (max-width: 767px) {
        .navbar {
          padding: 0;
        }
        .navbar ul {
          width: 100%;
          padding: 0;
          background-color: #7f8fa6;
          /* height: auto; */
          height: 100vh;
          max-height: 0;
          overflow: hidden;
          transition: all ease-in-out 0.3s;
          list-style: none;
        }

        .navbar ul.open {
          max-height: 100vh;
        }

        .navbar li.open {
          max-height: 100vh;
        }

        .navbar ul li {
          width: 100%;
          display: inline-block;
          position: relative;
          /* border-bottom: 1px solid rgba(255,255,255,0.3); */
        }
        .navbar ul li a {
          padding: 20px;
        }

        /*BURGER NAV*/
        .navbar .navbar-toggler {
          display: block;
          position: absolute;
          height: 40px;
          top: 20px;
          right: 20px;
          background-color: transparent;
          color: #fff;
          border: 3px solid #fff;
          /* border: none; */
          /* border-radius: 4px; */
          outline: none;
          padding: 0 5px;
          cursor: pointer;
        }
        /*contenido hamburguesa*/
        .navbar .navbar-toggler span,
        .navbar .navbar-toggler span::before,
        .navbar .navbar-toggler span::after {
          display: block;
          content: '';
          background-color: #fff;
          height: 3px;
          width: 28px;
          border-radius: 4px;
          transition: all ease-in-out 0.3s;
        }
        .navbar .navbar-toggler span::before {
          transform: translateY(-8px);
        }
        .navbar .navbar-toggler span::after {
          transform: translateY(5px);
        }
        
        .navbar .navbar-toggler.open-navbar-toggler span {
          background-color: transparent;
        }
        .navbar .navbar-toggler.open-navbar-toggler span::before {
          transform: translateY(0px) rotate(45deg);
        }
        .navbar .navbar-toggler.open-navbar-toggler span::after {
          transform: translateY(-3px) rotate(-45deg);
        }
      }

/*MODAL*/

.modal-hide {
  display: none;
}

.modal-show {
  display: block; 
}

.modal-container {
  background-color: rgba(68, 68, 68, 0.63);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content {
  /*max-width para desktop 700 y para mobile 300*/
  max-width: 700px;
  margin: 0 auto;
  margin: 10% auto;
}

.modal-body {
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  background: #fff;
}

.modal-col {
  width: 50%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.modal-col p{
text-align: left;
color: #8c7ae6;
font-family: sans-serif;
font-weight: bolder;
}

.col-data {
  background: #fbc531;
  padding-left: 15px;
}

.col-img {
  background: #e1b12c ;
  padding-left: 15px;
}

/*
.Grass {
  background:green;
}

.Poison {
  background: purple;
}

.Fire {
  background: red;
}

.Ice {
  background: lightblue;
}

.Flying {
  background: slateblue;
}

.Psychic {
  background: fuchsia;
}

.Water{
  background: blue;
}

.Ground{

}

.Electric {

}

.Bug{

}

.Normal{

}

.Fighting {

}

.Fairy {

}

.Ghost {

}

.Dark {

}

.Steel {

}

.Dragon {

}
*/